body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main section div .perfil {
    width: 30%;
    border-radius: 50%;
    z-index: 2;
}

main section div .cabecera {
    width: 50vw;
    height: 36vh;
    border-radius: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main section div {
    width: 50vw;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}

main section div p {
    font-weight: 600;
    color: black;
}

main section div span {
    font-weight: 600;
    color: rgb(133, 132, 132);
}

.heading {
    position: absolute;
    left: -30%;
    top: -70%;
    overflow: hidden;
}

.heading2 {
    position: absolute;
    right: -30%;
    bottom: -70%;
    overflow: hidden;
}